/****** FONT FAMILIES ******/
@font-face {
  font-family: 'Ralewaylight';
  src:  url("/font/Raleway-Light.ttf") format('.ttf');
}
@font-face {
  font-family: 'Raleway-Thin';
  src:  url("/font/Raleway-Thin.ttf") format('.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraLight';
  src:  url("/font/Raleway-ExtraLight.ttf") format('.ttf');
}
/****** BODY ******/
body
{
    background-color:#2C3E50;
}

/****** NAVBAR ******/
.navbar-nav li a
{
    width: 140px;
    text-align: center;
}

/****** MANGO BUTTON *****/
.MangoIconButton button img
{
    margin: auto;
    width: 50%;
   
}
.MangoIconButton button
{
display: block;
    margin: auto;
    background-color: transparent;
     border: 0;
}
.MangoIconButton button:hover
{
    opacity: 0.75;
}
.MangoIconButton button:focus 
{
    outline:0;
}

/******** MANGO TITLE ********/
.MangoTextTitle .jumbotron
{
    background-color: #2C3E50;
    padding: 0px;
}
.MangoTextTitle .jumbotron h1
{
    text-align: center;
    color: #E6A546;
    padding-top: 20px;
    font-size: 85px;
    font-family: Raleway-ExtraLight;
    font-weight: 100;
    letter-spacing: 4px;
}

/******* MANGO I'M FEELING LUCKY ******/
.Lucky-Button button
{
    background-color: mediumseagreen;
    margin-top: 20px;
}
.Lucky-Button button:hover, .Lucky-Button button:active, .Lucky-Button button:focus
{
    background-color: lightgreen;
}

/******* MANGO THINK LINK *******/
.Think-link
{
    font-size: 40px;
    text-align:center;
    text-decoration: none;
    list-style: none;
}
.Think-link a
{
    color: #fff;
    font-family: Raleway-Thin;
}
.Think-link a:active, .Think-link a:hover, .Think-link a:focus
{
    text-decoration: none;
    opacity: 0.75;
    color: #E6A546;
}
